<h3>Cart</h3>
<div *ngFor="let item of items;let i = index" class="cart-item">
  <img class="logoo" [src]="filteredImages( item.url )">
  <span class="space">{{ item.name }} </span>
  {{ item.price | currency }}
  <mat-form-field class="example-full-width">
    <mat-label>Quantity</mat-label>
    <input matInput type="number" [(ngModel)]="item.qtyTotal" [ngModelOptions]="{standalone: true}" min="1"
      type="number" class="form-control" (ngModelChange)="changeSubtotal(item ,i)"
      required>
  </mat-form-field>
  <div class="col-1 pl-0">
    <button mat-stroked-button class="btn btn-secondary" (click)="removeFromCart(item)">Remove Item</button>
  </div>
</div>
<p style="margin-top:50px ;">
</p>
<p *ngIf="items.length === 0">You don't have anyting to the cart!</p>

<p style="margin-top:50px ;">

</p>
<div>
  Order Total:
  <span class="font-weight-bold  ">{{total | currency}}</span>
  <hr>
  <button mat-stroked-button class="btn btn-primary  " (click)="clearCart()"> Clear Items</button>
  <p style="margin-top:50px ;"></p>
  
  <div style="margin-bottom: 20px;text-align: center;" > 
    <button fxfxFlexAllign="center" mat-stroked-button class="primary-button" [routerLink]="'/Details'">Check Out</button>
</div>

 
</div>