<header class="header">
    <div class="left_section" >
        <img class="logoo" src= "../../../../assets/icons/logo/logo.png">
    </div>
    <div class="middle_section">
        <p class="title">
            WELCOME TO OUR STORE
        </p>
    </div>
    <div class="right">
        <mat-icon [routerLink]="'/shopping'">shopping_cart</mat-icon>
    </div>
    <div class="right_section" [routerLink]="'/Login'">
        <button class="logout">
            LOGOUT
        </button>
    </div>
</header>